<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!-- PAGE TITLE -->
	<title>Bank Machine - 4HC3 Assignment</title>
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="/assets/css/style.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/media-queries.css"> <!-- media queries -->
	<link rel="stylesheet" href="/assets/css/no-header.css"> <!-- no-header -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/toastr.min.css"> <!-- main stylesheet -->


	<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/ie.9.css"/> <!-- styles for IE 9 -->
	<![endif]-->

	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/ie.lt9.css"/> <!-- styles for IE 8 and less -->
	<![endif]-->

	<link class="preset" rel="stylesheet" href="/assets/css/colors/photo.css"> <!-- Pick a preset (photo.css, video.css, custom.css)-->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> <!-- jQuery UI stylesheet -->

	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>javascript-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!-- Load jQuery library -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script> <!-- Load jQuery UI library -->
	<script type="text/javascript" src="/assets/js/jquery.mousewheel.min.js"></script> <!-- Load jQuery Mousewheel  -->
	<script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script> <!-- Load jQuery NiceScroll  -->
	<script type="text/javascript" src="/assets/js/jquery.screwdefaultbuttonsV2.min.js"></script> <!-- Load screwDefaultButtons -->
	<script type="text/javascript" src="/assets/js/jquery.countdown.min.js"></script> <!-- Load jQuery Countdown library -->
	<script type="text/javascript" src="/assets/js/jquery.tubular.1.0.js"></script> <!-- Load jQuery Tubular -->
	<script type="text/javascript" src="/assets/js/jquery_cookie.js"></script> <!-- Load jQuery Cookie -->
	<script type="text/javascript" src="/assets/js/twitter/jquery.tweet.min.js"></script> <!-- Load jQuery Twitter library -->
	<script type="text/javascript" src="/assets/js/init.js"></script> <!-- Init --> 
	
</head>

<body class="no-header no-countdown">

	<div id="bg-image"></div>
	<div id="bg-pattern"></div>
	<div id="bg-overlay"></div>
		
	<!-- Main Page -->
	<div id="main">

		<!-- Header -->
		<div id="header">
			<div id="logo"><img src="assets/img/logo_light.png"></div> <!-- Set your logo  -->
		</div>

		<!-- Additional content -->
		<div id="content">
		<!-- Content pattern -->
		<div class="content-pattern">	  
		
			<!-- Countdown -->
			<div class="section countdown wide" id="countdown">
				<div class="scrolldown"></div>
				<div class="countdown-widget" id="countdown-widget" data-time="" data-timezone=""></div>
			</div>
			<!-- Countdown end -->
					    
			<div id="widgets">	
				<!--<span class="close"></span>-->
				
				<!-- Widget: Title / Description -->
				<div class="section intro">
					<h1 class="title"><span>Change Name</span></h1>
					<p style="font-size:large" class="description">Please enter your desired name.</p> 					
				</div>
				<!-- Widget: Title / Description end -->
	
				
				<!-- Widget: Newsletter -->
				<div class="section newsletter">
					<fieldset>
						<legend>Enter New Account Name</legend>
						<p class="status"></p>
						<form method="post">
							<input name="accountName" class="text" placeholder="Enter desired name">
						  	<input type="submit" name="submit" class="transition submit" value="Proceed">
						</form>
					</fieldset>
					
				</div>
				<!-- Widget: Newsletter end -->		
				
				<div class="clear"></div>

			</div>
			<!-- Widgets end -->
			
		
		</div>
		</div>
		<!-- Content pattern end -->
		<!-- Content end -->

	</div>
	<!-- Main Page end -->

	<script type="text/javascript" src="/assets/js/toastr.min.js"></script>
	<!-- Google Analytics -->
  	<script type="text/javascript">
  	$(document).ready(function() {

		// set options
		toastr.options.showDuration = "300";
	    toastr.options.closeButton = true;

	    // shows on page load 
	    {% if qry.transactionStatus == "error_notext" %}
	    toastr.warning('Please enter a valid name!');
	    {% endif %}

	    {% if qry.transactionStatus == "error" %}
	    toastr.error('Error occured, please try again.');
	    {% endif %}

	});
	</script>  

</body>
</html>
