<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"></html><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"></html><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"></html><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
    <head>
        <title>Bank Machine</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="../../../oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="../../../oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <form id="signinForm" method="post">
              <input type="text" placeholder="Please enter your card number" name="accountNumber"></input> 
              <input type="submit" name="submit"/>
        </form>

        <!-- Footer -->
        <div id="footer" class="full-width footer-line">
            <div class="container">
                <div class="col-sm-12">
                    <p class="copyright">&copy; Copyright Mathee 2014</p>
                </div>
            </div>
        </div>

  </body>
</html>
