<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!-- PAGE TITLE -->
	<title>Bank Machine - 4HC3 Assignment</title>
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="/assets/css/style.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/media-queries.css"> <!-- media queries -->
	<link rel="stylesheet" href="/assets/css/no-header.css"> <!-- no-header -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css"> <!-- main stylesheet -->
	<link rel="stylesheet" href="/assets/css/toastr.min.css"> <!-- main stylesheet -->

	<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/ie.9.css"/> <!-- styles for IE 9 -->
	<![endif]-->

	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/ie.lt9.css"/> <!-- styles for IE 8 and less -->
	<![endif]-->

	<link class="preset" rel="stylesheet" href="/assets/css/colors/photo.css"> <!-- Pick a preset (photo.css, video.css, custom.css)-->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> <!-- jQuery UI stylesheet -->

	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!-- Load jQuery library -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script> <!-- Load jQuery UI library -->
	<script type="text/javascript" src="/assets/js/jquery.mousewheel.min.js"></script> <!-- Load jQuery Mousewheel  -->
	<script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script> <!-- Load jQuery NiceScroll  -->
	<script type="text/javascript" src="/assets/js/jquery.screwdefaultbuttonsV2.min.js"></script> <!-- Load screwDefaultButtons -->
	<script type="text/javascript" src="/assets/js/jquery.countdown.min.js"></script> <!-- Load jQuery Countdown library -->
	<script type="text/javascript" src="/assets/js/jquery.tubular.1.0.js"></script> <!-- Load jQuery Tubular -->
	<script type="text/javascript" src="/assets/js/jquery_cookie.js"></script> <!-- Load jQuery Cookie -->
	<script type="text/javascript" src="/assets/js/twitter/jquery.tweet.min.js"></script> <!-- Load jQuery Twitter library -->
	<script type="text/javascript" src="/assets/js/init.js"></script> <!-- Init --> 
	
</head>

<body class="no-header no-countdown">

	<div id="bg-image"></div>
	<div id="bg-pattern"></div>
	<div id="bg-overlay"></div>
		
	<!-- Main Page -->
	<div id="main">

		<!-- Header -->
		<div id="header">
			<div id="logo"><img src="assets/img/logo_light.png"></div> <!-- Set your logo  -->
		</div>

		<!-- Additional content -->
		<div id="content">
		<!-- Content pattern -->
		<div class="content-pattern">	  
		
			<!-- Countdown -->
			<div class="section countdown wide" id="countdown">
				<div class="scrolldown"></div>
				<div class="countdown-widget" id="countdown-widget" data-time="" data-timezone=""></div>
			</div>
			<!-- Countdown end -->
					    
			<div id="widgets">	
				<!--<span class="close"></span>-->
				
				<!-- Widget: Title / Description -->
				<div class="section intro">
					<h1 class="title"><span>Cash Withdrawal</span></h1>
					<p style="font-size:large" class="description">Your Account Number: {{qry.accountNumber}} has the following balances:<br>Chequing Account: ${{qry.cheqBalance}}.00<br>Savings Account: ${{qry.savBalance}}.00</p>					
				</div>
				<!-- Widget: Title / Description end -->
	
				
				<!-- Widget: Newsletter -->
				<div class="section newsletter">
					<fieldset>
						<legend>Select an Amount</legend>
						<form method="post" class="form-horizontal" role="form">
						  <div class="form-group">
						  	<div class="row">
							    <button name="twentyButton" type="submit" class="col-md-4 btn btn-lg btn-default" value="$20">$20</button>
						      	<button name="eightyButton" type="submit" class="col-md-4 col-md-offset-4 btn btn-lg btn-default" value="$80">$80</button>
						    </div>
						  </div>
						  <div class="form-group">
						  	<div class="row">
						      <button name="fortyButton" type="submit" class="col-md-4 btn btn-lg btn-default" value="$40">$40</button>
							  <button name="oneBillButton" type="submit" class="col-md-4 col-md-offset-4 btn btn-lg btn-default" value="$100">$100</button>
						    </div>
						  </div>
						  <div class="form-group">
						  	<div class="row">
						      <button name="sixtyButton" type="submit" class="col-md-4 btn btn-lg btn-default" value="$60">$60</button>
						      <button name="twoBillButton" type="submit" class="col-md-4 col-md-offset-4 btn btn-lg btn-default" value="$200">$200</button>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-md-12">
						      <input name="otherAmount" type="number" min="20" max="1500" step="20" class="btn btn-lg btn-default btn-block text" placeholder="Enter Amount to Withdraw [20.00]">
						      <button name="acceptButton" type="submit" class="btn btn-lg btn-primary btn-default" value="Accept">Accept</button>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-md-12">
						      <button name="cancelButton" type="submit" class="btn btn-lg btn-danger btn-default btn-block" value="Cancel">Cancel</button>
						    </div>
						  </div>
						</form>
					</fieldset>
				</div>
				<!-- Widget: Newsletter end -->		
				
				<div class="clear"></div>

			</div>
			<!-- Widgets end -->
			
		
		</div>
		</div>
		<!-- Content pattern end -->
		<!-- Content end -->
	</div>
	<!-- Main Page end -->

	<script type="text/javascript" src="/assets/js/toastr.min.js"></script>
	<!-- Google Analytics -->
  	<script type="text/javascript">
  	$(document).ready(function() {

		// set options
		toastr.options.showDuration = "300";
	    toastr.options.closeButton = true;
	    
	    // shows on page load 
	    

	});
	</script> 

</body>
</html>
